*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#141E30,#243B55,#0F2027);
    padding:30px;
}
/* Layout */
.layout{
  display:flex;
  min-height:100vh;
}

/* Sidebar */
.sidebar{
  width:210px;
background: linear-gradient(90deg, #0d47a1, #6d6891);
  color:#fff;
  padding:25px;
}

.sidebar h2{
  margin-bottom:30px;
}

.sidebar ul{
  list-style:none;
}

.sidebar li{
  margin:16px 0;
}

.sidebar a{
  color:#fff;
  text-decoration:none;
  padding:10px;
  border-radius:8px;
  display:block;
}

.sidebar a.active,
.sidebar a:hover{
  background:rgba(255,255,255,0.25);
}

.logout-btn{
  margin-top:40px;
  display:block;
  text-align:center;
  padding:10px;
  background:#1e3a8a;
  border-radius:8px;
}
/* Header */

.main_content{
  flex: 1;
  margin-right: 20px;
}
.content{
    width: 100%;
    height: 70px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background:linear-gradient(90deg,#4f7fe9,#bdc8df);    
    padding:22px;
   border-radius:18px;
   display:flex;
   align-items:center;
   color:whitesmoke;

}

.chart-box{
  width: 100%;
  margin-top: 6px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  background:linear-gradient(90deg,#bdc8df,#4f7fe9);
  padding:5px;
  border-radius:18px;
  box-shadow: 0px,0px,10px rgba(0,0,0,0.1);

}
.chart-box h2{
  text-align: center;
}
.image1{
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}
.att{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.print{
  margin-top:20px;
  text-align:right;
  margin-right: 15px;
  margin-bottom: 15px;

}
.print a {
    margin-right: 15px;
    padding: 10px 30px;
    background: #2a5298;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration-line: none;
}
.print a:hover{
   background: #13a24a;
}
.container{
    width:100%;
    max-width:1200px;
}

.glass-card{
    background:rgba(255,255,255,0.12);
    border:1px solid rgba(255,255,255,0.2);
    backdrop-filter:blur(14px);
    border-radius:25px;
    padding:40px;
    box-shadow:0 10px 40px rgba(0,0,0,0.4);
    color:white;
}

h1{
    text-align:center;
    font-size:42px;
    font-weight:700;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:#d8d8d8;
    margin-bottom:35px;
    font-size:18px;
}

.grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:22px;
}

.input-box{
    display:flex;
    flex-direction:column;
}

label{
    margin-bottom:8px;
    font-size:15px;
    color:#e9e9e9;
}

input,select{
    padding:15px;
    border:none;
    border-radius:14px;
    outline:none;
    background:rgba(255,255,255,0.15);
    color:white;
    font-size:16px;
    transition:0.3s;
}

input:focus,
select:focus{
    background:rgba(255,255,255,0.22);
    transform:scale(1.02);
}

select option{
    color:black;
}

button{
    width:100%;
    margin-top:35px;
    padding:18px;
    border:none;
    border-radius:16px;
    background:linear-gradient(135deg,#00C6FF,#0072FF);
    color:white;
    font-size:20px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(0,114,255,0.4);
}

.result-card{
    margin-top:35px;
}

.result-card h2{
    text-align:center;
    margin-bottom:20px;
    font-size:30px;
}

.result-box{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.result-item{
    background:rgba(255,255,255,0.14);
    padding:25px;
    border-radius:18px;
    text-align:center;
}

.result-item span{
    display:block;
    font-size:16px;
    color:#d7d7d7;
    margin-bottom:10px;
}

.result-item h3{
    font-size:32px;
    color:#00E5FF;
}

@media(max-width:768px){

    .grid{
        grid-template-columns:1fr;
    }

    .result-box{
        grid-template-columns:1fr;
    }

    h1{
        font-size:32px;
    }

}